{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Service to provide UI specification frontend from backend",
        "title": "Backend-Driven-UI",
        "contact": {
            "name": "Docs developer",
            "url": "https://t.me/KlenoviySirop",
            "email": "KlenoviySir@yandex.ru"
        },
        "version": "1.0.0"
    },
    "host": "ui.gb.ldt2023.infantem.tech",
    "paths": {
        "/calc/element/active": {
            "get": {
                "description": "Get active UI elements for calculator",
                "tags": [
                    "Calculator"
                ],
                "summary": "Get active UI elements",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.GetActiveElementsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    }
                }
            }
        },
        "/calc/types": {
            "get": {
                "description": "Get possible UI elements for calculator",
                "tags": [
                    "Calculator"
                ],
                "summary": "Get UI types for calculator (soon deprecated)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.GetTypesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/common.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "common.Response": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "internal_code": {
                    "type": "integer"
                }
            }
        },
        "model.GetActiveElementsResponse": {
            "type": "object",
            "properties": {
                "elements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.UiCategoryLogic"
                    }
                }
            }
        },
        "model.GetTypesResponse": {
            "type": "object",
            "properties": {
                "elements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.UiTypeLogic"
                    }
                }
            }
        },
        "model.UiCategoryLogic": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "elements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.UiElementLogic"
                    }
                }
            }
        },
        "model.UiElementLogic": {
            "type": "object",
            "properties": {
                "comment": {
                    "type": "string"
                },
                "field": {
                    "type": "string"
                },
                "field_id": {
                    "type": "string"
                },
                "options": {
                    "type": "array",
                    "items": {}
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "model.UiTypeLogic": {
            "type": "object",
            "properties": {
                "hint": {
                    "type": "string"
                },
                "multiple_options": {
                    "type": "boolean"
                },
                "type": {
                    "type": "string"
                }
            }
        }
    }
}