definitions:
  common.Response:
    properties:
      description:
        type: string
      internal_code:
        type: integer
    type: object
  model.GetActiveElementsResponse:
    properties:
      categories:
        items:
          $ref: '#/definitions/model.UiCategoryLogic'
        type: array
    type: object
  model.GetTypesResponse:
    properties:
      elements:
        items:
          $ref: '#/definitions/model.UiTypeLogic'
        type: array
    type: object
  model.SetActiveForElementRequest:
    properties:
      elements:
        items:
          $ref: '#/definitions/model.UiChangeElementLogic'
        type: array
    type: object
  model.UiCategoryLogic:
    properties:
      category:
        type: string
      category_id:
        type: string
      elements:
        items:
          $ref: '#/definitions/model.UiElementLogic'
        type: array
    type: object
  model.UiChangeElementLogic:
    properties:
      active:
        type: boolean
      field_id:
        type: string
    type: object
  model.UiElementLogic:
    properties:
      active:
        type: boolean
      comment:
        type: string
      field:
        type: string
      field_id:
        type: string
      options:
        items: {}
        type: array
      type:
        type: string
    type: object
  model.UiTypeLogic:
    properties:
      hint:
        type: string
      multiple_options:
        type: boolean
      type:
        type: string
    type: object
host: ui.gb.ldt2023.infantem.tech
info:
  contact:
    email: KlenoviySir@yandex.ru
    name: Docs developer
    url: https://t.me/KlenoviySirop
  description: Service to provide UI specification frontend from backend
  title: Backend-Driven-UI
  version: 1.0.0
paths:
  /calc/element/active:
    get:
      description: Get active UI elements for calculator
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.GetActiveElementsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/common.Response'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/common.Response'
      summary: Get active UI elements
      tags:
      - Calculator
    patch:
      description: Set state of activity for element
      parameters:
      - description: Fields and their states
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.SetActiveForElementRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/common.Response'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/common.Response'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/common.Response'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/common.Response'
      summary: Set active/inactive state for element
      tags:
      - Calculator
      - Admin
  /calc/types:
    get:
      description: Get possible UI elements for calculator
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.GetTypesResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/common.Response'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/common.Response'
      summary: Get UI types for calculator (soon deprecated)
      tags:
      - Calculator
schemes:
- https
swagger: "2.0"
